*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/lib/util/target/
/incubator/saft/api/target/
/ee/core/common/target/
/mandator/sample/target/
/ee/persistence/redtape/target/
/ee/core/progress/target/
/ui/core/util/target/
/ee/persistence/report/target/
/assembly/entityhelpers/target/
/ui/core/common/target/
/incubator/saft/core/target/
/ee/persistence/uniqueunit/target/
/ee/persistence/stock/target/
/ee/persistence/spec/target/
/ee/persistence/customer/target/
/ee/extended/misc/target/
/ee/extended/receipt/target/
/mandator/sample-service/target/
/ee/extended/price/target/
/ee/persistence/rights/target/
/ee/extended/redtape/target/
/assembly/server/target/
/incubator/saft/runtime/target/
/ui/extended/price/target/
/ui/persistence/report/target/
/ui/persistence/stock/target/
/ui/extended/receipt/target/
/ui/extended/redtape/target/
/ui/extended/misc/target/
/ui/extended/login/target/
/ui/persistence/rights/target/
/ui/persistence/customer/target/
/assembly/client-local/target/
/assembly/client-remote/target/
/assembly/client-sample/target/
/assembly/target/
/ui/extended/target/
/ui/persistence/target/
/ee/core/target/
/ee/extended/target/
/ee/persistence/target/
/ee/target/
/incubator/saft/target/
/incubator/target/
/lib/target/
/mandator/target/
/ui/core/target/
/ui/target/
/incubator/saft/sample/target/
/incubator/mobile-ui/target/
/incubator/mobile/.nb-gradle/private/
/incubator/mobile/build/
/ee/core/api/target/
/incubator/mobile/.nb-gradle/profiles/private/
/incubator/lucidcalc/target/
/incubator/statemachine/target/
/incubator/statemachine/state-grapher/target/
/incubator/statemachine/state-runtime/target/
/mandator/sample-tryout/target/
/ee/web/search/target/
/mandator/sample-datasource/target/
/ee/web/target/
/assembly/ear/target/
/ee/web/misc/target/
/ui/persistence/uniqueunit/target/
/ee/core/misc/target/
/assembly/server/
/ee/core/search/target/
/ee/api/spec/target/
/ee/api/uniqueunit/target/
/ee/api/stock/target/
/ee/api/rights/target/
/ee/api/common/target/
/ee/api/search/target/
/ee/api/redtape/target/
/ee/api/customer/target/
/ee/api/mandator/target/
/ee/core/mandator/target/
/ee/core/discovery/target/
/ee/api/target/
/ui/spi/mandator/target/
/ui/spi/stock/target/
/ui/spi/customer/target/
/ui/core/search/target/
/ui/spi/target/