<?xml version="1.0" encoding="UTF-8"?>
<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.dw/client.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/.dw/client.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="lilithfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/.dw/client.lilith</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${user.home}/.dw/client.%i.lilith.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>

        <encoder class="de.huxhorn.lilith.logback.encoder.ClassicLilithEncoder">
            <IncludeCallerData>true</IncludeCallerData>
        </encoder>
    </appender>

    <appender name="multiplex" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
        <Compressing>true</Compressing>
        <ReconnectionDelay>10000</ReconnectionDelay>
        <IncludeCallerData>true</IncludeCallerData>
        <RemoteHost>localhost</RemoteHost>
    </appender>

    <!-- Needed to exclude, otherwise oure lookup of progress creates messages every 2 sec -->
    <logger name="eu.ggnet.saft.core.dl.LocalDl" level="INFO"/>
    <logger name="eu.ggnet.saft.core.dl.RemoteDl" level="INFO"/>
    <logger name="eu.ggnet.dwoss.assembly.remote.lookup.WildflyLookup" level="INFO"/>
    <logger name="org.jboss.ejb.client.EJBClientContext" level="INFO"/>
    <logger name="org.jboss.ejb.client.ReceiverInterceptor" level="INFO"/>
    <logger name="org.jboss.ejb.client.invocation" level="INFO" />
    <logger name="org.jboss.ejb.client" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
        <appender-ref ref="lilithfile"/>
        <appender-ref ref="multiplex" />
    </root>
</configuration>
